.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;
}

.blogs h2 {
  font-size: 40px;
}
.blogItem h3 {
  font-size: 25px;
  cursor: pointer;
}
