.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  margin-bottom: 25px;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.blogs h2 {
  font-size: 40px;
}
.blogItem h3 {
  font-size: 25px;
}
.mainnav ul {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-right: 40px;
}

.mainnav ul li {
  margin: 0 24px;
  list-style: none;
  font-weight: bold;
}

.homeImg {
  border-radius: 15px;
  /* margin-top: 25px; */
}
